<ng-container *ngIf="!noResults">
  <div class="album-list-container">
    <ng-container *ngFor="let album of albums">
      <div class="album-container">
        <img [src]="album.artworkUrl100 | largerImage">
        <div class="album-info">
        </div>
        <div class="artist-name">{{ album.artistName }}</div> 
        <div class="album-name">{{ album.collectionName | hideLongText }}</div>
        <a 
          class="play-now" 
          href="#"
          (click)="window.open(album.collectionViewUrl)"
          >PLAY NOW</a>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="noResults && !isFetching">
  <div class="no-results">
    No results found...
  </div>
</ng-container>
<ng-container *ngIf="isFetching">
  <div class="spinner-container">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-container>

