/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("https://webgradients.com/public/webgradients_png/008%20Rainy%20Ashville.png");
    background-size: cover;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }